<div class="loading-spinner" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading && !noPostFound" class="post-area">
  <div class="page-top"></div>
  <div class="post-detail">
    <img src="assets/avatar.png" class="avatar">
    <strong>{{post.user.username}}</strong>
    <small class="float-right">{{post.date}}</small>
    <img [src]="post.imageUrl" alt="Image" class="img-responsive">
    <p class="description">{{post.description}}</p>
  </div>
  <br />
  <app-comments [post]="post"></app-comments>
</div>
<div *ngIf="!isLoading && noPostFound">
  <h2>No Post Found!</h2>
  <button class="btn btn-primary" routerLink="/posts" type="button">Back</button>
</div>