p, small {
  color: rgb(150, 150, 150);
}

strong {
  font-weight: 700;
  margin-right: 6%;
}

img {
  width: 100vw;
  height: 40vh;
}

small {
  padding: 2%;
  margin-top: 5px;
}

.loading-spinner {
  text-align: center;
  padding-top: 110px;
}

.icon {
  max-width: 18px;
  max-height: 18px;
  margin: 2%;
  margin-left: 0;
}

.avatar {
  max-width: 30px;
  max-height: 30px;
  margin: 2%;
}

.description {
  font-weight: 500;
  font-size: 1.1em;
  margin: 1%;
  margin-left: 0;
  padding-bottom: 5px;
}

.posts-area {
  background-color: whitesmoke;
  padding-top: 110px;
}

.post-box {
  margin-bottom: 40px;
  background-color: white;
}

.post-detail {
  font-size: smaller;
  padding-left: 3%;
  padding-bottom: 3px;
  margin-top: 2%;
}

#page-bottom {
  height: 0.1px;
  background-color: whitesmoke;
}
