<div class="loading-spinner" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading" class="posts-area">
  <div class="post-box" *ngFor="let post of posts" style="cursor: pointer;">
    <div>
      <img src="assets/avatar.png" class="avatar">
      <strong>{{post.username}}</strong>
      <small class="float-right">{{post.date}}</small>
      <img [src]="post.imageUrl" alt="Image" class="img-responsive">
      <div class="post-detail">
        <img src="assets/pixelgram.png" class="icon">
        <strong>Pixels: {{post.likes}}</strong>
        <img src="assets/comment.png" class="icon">
        <strong>Comments: {{post.numberOfComments}}</strong>
        <div class="description">
           {{post.description | shorten:50}}
        </div>
        <div>
          <p routerLink="/posts/{{post.id}}">View Comments</p>
        </div>
      </div>
    </div>
  </div>
  <div id="page-bottom"></div>
</div>
